<div class="container-fluid my-5"> 
    <div class="card-group">
        <div class="card">
          <img src="assets/jupiter.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">JUPITER</h5>
            <p class="card-text">Jupiter is the fifth planet from the Sun and is the largest planet in the solar system. If Jupiter were hollow, more than one thousand Earths could fit inside. It also contains two and a half times the mass of all the other planets combined. It has a mass of 1.9 x 1027 kg and is 142,800 kilometers (88,736 miles) across the equator. Jupiter possesses 62 known satellites. The four largest are Callisto, Europa, Ganymede and Io, and were named after Galileo Galilei who observed them as long ago as 1610. The German astronomer Simon Marius claimed to have seen the moons around the same time, but he did not publish his observations and so Galileo is given the credit for their discovery.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="assets/saturn.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SATURN</h5>
            <p class="card-text">Saturn is the sixth planet from the Sun and is the second largest in the solar system with an equatorial diameter of 119,300 kilometers (74,130 miles). Much of what is known about the planet is due to the Voyager explorations in 1980-81. Saturn is visibly flattened at the poles, a result of the very fast rotation of the planet on its axis. Its day is 10 hours, 39 minutes long, and it takes 29.5 Earth years to revolve about the Sun. The atmosphere is primarily composed of hydrogen with small amounts of helium and methane. Saturn is the only planet less dense than water (about 30 percent less). In the unlikely event that a large enough ocean could be found, Saturn would float in it. Saturn's hazy yellow hue is marked by broad atmospheric banding similar to, but fainter than, that found on Jupiter.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="assets/mercury.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">MERCURY</h5>
            <p class="card-text">Mercury was named by the Romans after the fleet-footed messenger of the gods because it seemed to move more quickly than any other planet. It is the closest planet to the Sun, and second smallest planet in the solar system. Its diameter is 40% smaller than Earth and 40% larger than the Moon. It is even smaller than Jupiter's moon Ganymede and Saturn's moon Titan.
                If an explorer were to step onto the surface of Mercury, he would discover a world resembling lunar terrain. Mercury's rolling, dust-covered hills have been eroded from the constant bombardment of meteorites. Fault-cliffs rise for several kilometers in height and extend for hundreds of kilometers. Craters dot the surface. The explorer would notice that the Sun appears two and a half times larger than on Earth; however, the sky is always black because Mercury has virtually no atmosphere to cause scattering of light. As the explorer gazes out into space, he might see two bright stars. One appearing as cream colored Venus and the other as blue colored Earth.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
</div>