<div class="container-fluid my-5"> 
    <div class="card-group">
        <div class="card">
          <img src="assets/sun.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SUN</h5>
            <p class="card-text">The sun is an ordinary star, one of about 100 billion in our galaxy, the Milky Way. The sun has extremely important influences on our planet: It drives weather, ocean currents, seasons, and climate, and makes plant life possible through photosynthesis. Without the sun’s heat and light, life on Earth would not exist.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="assets/solar system.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SOLAR SYSTEM</h5>
            <p class="card-text">Our solar system consists of our star, the Sun, and everything bound to it by gravity – the planets Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune; dwarf planets such as Pluto; dozens of moons; and millions of asteroids, comets, and meteoroids. Beyond our own solar system, we have discovered thousands of planetary systems orbiting other stars in the Milky Way.
          </div>
        </div>
        <div class="card">
          <img src="assets/moon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">MOON</h5>
            <p class="card-text">Moons – also known as natural satellites – orbit planets and asteroids in our solar system. Earth has one moon, and there are more than 200 moons in our solar system. Most of the major planets – all except Mercury and Venus – have moons. Pluto and some other dwarf planets, as well as many asteroids, also have small moons. Saturn and Jupiter have the most moons, with dozens orbiting each of the two giant planets.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
</div>