<style>
  body {
    background-color: black;
  }
  </style>
  
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <a routerLink="/One" routerLinkActive="active"><button type="button" class="btn btn-secondary mx-2">Planets</button></a>
        <a routerLink="/Two" routerLinkActive="active"><button type="button" class="btn btn-secondary mx-2">Want to know more about our solar system?</button></a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>